* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* @import url("https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css"); */
@media screen and(max-width:1400px) {
}
.container {
  width: 1320px;
  padding: 0px 16px;
  margin: auto;
  height: 100vh;
}
.boards {
  display: flex;
  gap: 16px;
  padding: 120px 0px;
}
.board {
  flex: 1;
  flex-basis: 0;
  height: fit-content;
  background-color: #ebecf0;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  overflow: hidden;
}
.headerBoard {
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 12px;
}
.addBtn {
  display: flex;
  gap: 16px;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
/* add task tsonh */
.activity {
  display: flex;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.away {
  width: 100%;
  height: 100%;
}
/* ass task model */
.modal {
  position: absolute;
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  width: 400px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
label {
  font-size: 14px;
}
input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  resize: none;
  height: 100px;
}
select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.warning {
  display: none;
  color: red;
  font-size: 12px;
  padding: 4px 12px;
}
button {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  margin-top: 24px;
}
.card {
  padding: 8px;
  border-radius: 4px;
  background-color: white;
  cursor: grab;
  gap: 12px;
  display: flex;
}
.done {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.defailt {
  flex: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.edit {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.priority {
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
